* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal; 
}

body {
  margin: 0;   
}

.page{
  height: 100vh;
  width: 100vw;
}

#background-img{
  height: 100vh;
}

#logo-img{
  height: 20vh;
  filter: invert(83%) sepia(3%) saturate(882%) hue-rotate(346deg) brightness(101%) contrast(87%);
}

.page {
  display: flex;
}

.image-box {
  background-image: url(./images/maxim-berg-ZESbrsLBPPk-unsplash.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 45vw;
}

.logo {
  background-color: rgba(0, 0, 0, 0.7);
  color :#d7cabf;
  font-size: 4rem;
  font-weight: bolder;
  position: relative;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 0.5vh 0;
}

.form-box {
  background-color: black;
  color: #d7cabf;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 2vw;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.the-inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 1vw;
  margin-bottom: 4rem;
}

.input {
  display: flex;
  width: 40%;
  flex-flow: column wrap;
  gap: 0.25vw;
}

input, input:valid {
  background-color: black;
  border: 1px solid #d7cabf;
  border-radius: 2px;
  color: white;
  font-size: 1.5rem;
}

input:focus{
  border: 1px solid #9D00FF;
  outline: 0;
}

input:invalid{
  border: 1px solid red;
}

button {
  background-color: black;
  color: #9D00FF;
  border: 2px solid #9D00FF;
  border-radius: 4px;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25 rem;
  transition-duration: 0.8s;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #9D00FF;
  color: black;
  border: 2px solid black;
}